{
  "extends": "airbnb/base",
  "ecmaFeatures": {
    "classes": true,
    "modules": true,
    "jsx": true
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "strict": "error",
    "indent": ["error", 2],
    "object-curly-spacing": 0,
    "comma-dangle": 0,
    "prefer-const": 0,
    "max-len": [2, 120, 2],
    "consistent-return": 0
  }
}
